<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Angular Collections</title>
	<script src="lib/angular1.4.5.js"></script>
</head>
<body data-ng-app data-ng-init="heros = [
	{title : 'Batman', 		photo : 'images/batman.jpg',	city:'Gothem',	   popular:9,		releaseDate:'2015-09-08',	ticketPrice:150.45678},
	{title : 'Ironman', 	photo : 'images/ironman.jpg',	city:'New York',   popular:8,		releaseDate:'2015-09-12',	ticketPrice:122.75846},
	{title : 'Spiderman', 	photo : 'images/spiderman.jpg',	city:'New York',   popular:7,		releaseDate:'2015-08-28',	ticketPrice:150.67458},
	{title : 'Phantom', 	photo : 'images/phantom.jpg',	city:'Bangalla',   popular:4,		releaseDate:'2015-09-05',	ticketPrice:75.78456},
	{title : 'Superman', 	photo : 'images/superman.jpg',	city:'Metropolis', popular:6,		releaseDate:'2015-08-04',	ticketPrice:200.45678},
	{title : 'Rajani', 		photo : 'images/rajani.jpg',	city:'Chennai',	   popular:10,		releaseDate:'2015-09-09',	ticketPrice:450.67845}
]">
</body>
<!--input type="text" ng-model="heroSort" /-->
<hr/>
<table border="1">
	<tr>
		<th ng-click="heroSort = 'title'; reverse = !reverse">Title</th>
		<th ng-click="heroSort = 'city'; reverse = !reverse">City</th>
		<th ng-click="heroSort = 'photo'; reverse = !reverse">Photo</th>
		<th ng-click="heroSort = 'releaseDate'; reverse = !reverse">Date</th>
		<th ng-click="heroSort = 'popular'; reverse = !reverse">Popularity</th>
		<th ng-click="heroSort = 'ticketPrice'; reverse = !reverse">Price</th>
	</tr>
	<tr data-ng-repeat="hero in heros | orderBy : heroSort : reverse ">
		<td><label>{{hero.title | uppercase}}</label></td>
		<td><label>{{hero.city}}</label></td>
		<td><img src="{{hero.photo}}" width="40" align="absmiddle" /></td>
		<td><label>{{hero.releaseDate | date :'MMM-dd-yyyy'}}</label></td>
		<td><label>{{hero.popular}}</label></td>
		<td><label>{{hero.ticketPrice | currency : 'INR '}}</label></td>
	</tr>
</table>
</html>