<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body">
    <img class="img-thumbnail" src="{{photo}}" />
    <hr/>
    <h1 class="bg-info">{{fName + lName}}</h1>
    <h3 class="bg-primary">{{city}}</h3>
    <h3 class="bg-danger">{{phone}}</h3>
    <h3 class="bg-default">you orderd for : {{qty}}</h3>
  </div>
</div>
<a class="btn btn-default" role="button" href="http://127.0.0.1:8020/day09_many_controllers/index.html#/">Home</a>