<div class="jumbotron">
  <h1>{{comp}}</h1>
  <p>{{message}}</p>
  <p>
  	<a class="btn btn-primary btn-xs" href="http://127.0.0.1:8020/day09_many_controllers/index.html#/batman" role="button">Batman</a>
  	<a class="btn btn-primary btn-xs" href="http://127.0.0.1:8020/day09_many_controllers/index.html#/ironman" role="button">Ironman</a>
  	<a class="btn btn-primary btn-xs" href="http://127.0.0.1:8020/day09_many_controllers/index.html#/rajani" role="button">Rajani</a>
  	<a class="btn btn-primary btn-xs" href="http://127.0.0.1:8020/day09_many_controllers/index.html#/spiderman" role="button">Spiderman</a>
  </p>
</div>